* {
    box-sizing: border-box;
}
body {
    position: relative;
    left: 30px;
}
#screen-container {
    height: 50px;
    width: 100px;
    background: coral;
    display: flex;
}

#screen {
    flex: 1;
    text-align: right;
}
